# ======================
# Node.js
# ======================
node_modules/
npm-debug.log

# ======================
# Environment files
# ======================
.env
.env.*

# ======================
# Python
# ======================
venv/
.venv/
__pycache__/
*.pyc

# ======================
# Build files
# ======================
dist/
build/

# ======================
# Logs
# ======================
*.log

# ======================
# Uploads
# ======================
uploads/

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/

# ======================
# Dataset (optional)
# ======================
Datasets/
/Images/
webpage_ss/